:root{
    --cor-primaria: #3260E1;
    --cor-analoga1: #35A2E6;
    --cor-analoga2: #10B981;
    --cor-complementar: #EB5A0C;
    --cor-fundo: #F8FAFC;

}


nav#menu{
   display: flex;
   justify-content: flex-end;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 10px;
}

nav#menu li{
    display: inline-block;
    background-color: var(--cor-analoga1);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    letter-spacing: 3px;
    margin-left: 32px;
}

nav#menu li:hover{
    background-color: var(--cor-complementar);
}

nav#menu a{
    color: black;
    text-decoration:none;
   align-items: center;
}

header#headbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 400px;
    max-width: 100%;
    position: static;
    height: 20vh;
}

.resposive-banner{
    max-width: 100%;
    min: width 400px;
    height: auto;
    display: block;
    width: 100%;
}

body{
    background-color: var(--cor-fundo);
    font-family: sans-serif;
    color:#334155;
    margin: 0;
    padding: 0;
    
}

header{
    display:block;
    background-color: var(--cor-primaria);
    max-width: 800px;
    min-width: 400px;
}

main{
    display: block;
    width: 100%;
    max-width: 800px;
    min-width: 400px;
}


p{
    text-align: center;
}

h2{
    text-align: center;

}

li{
    text-align: center;

}

img{
    display: block;
    margin:auto;
}