@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



:root{
    --cor-primaria: #3260E1;
    --cor-analoga1: #35A2E6;
    --cor-analoga2: #10B981;
    --cor-complementar: #EB5A0C;
    --cor-fundo: #F8FAFC;

}


nav#menu{
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 2rem;
   width: 100%;
   box-sizing: border-box;
   flex-wrap: wrap;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    gap: 5px;
}

nav#menu li{
    display: inline-block;
    background-color: var(--cor-analoga1);
    padding: 8px 10px;
    margin: 2px;
    transition: background-color 1s;
    letter-spacing: 2px;
    margin-left: 8px;
}

nav#menu li:hover{
    background-color: var(--cor-complementar);
}

nav#menu a{
    color: black;
    font-size: 1rem;
    text-decoration:none;
    align-items: center;
    display: inline-block;
}

header#headbar{
    max-width: 100%;
    width: 100%;
    display: flex;
    height: 20vh;
    background-color: var(--cor-analoga1);

}

table#tabelspec{
    border: 1px solid;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table#tabelspec td{
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    text-align: center;
    font-size: medium;
}

table#tabelspec thead{
    background-color: #1648d1;
    font-size: large;
}


.resposive-banner{
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

.login-button button{
    border: none;
    background-color: var(--cor-analoga1);
    padding: 10px 15px  ;
    border-radius: 5px ;
}

body{
    background-color: var(--cor-fundo);
    font-family: "Ubuntu", sans-serif;
    color:#334155;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


main{
    display: block;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}

.container{
    width: 420px;
    height: 100%;
    background-color: transparent;
    border: 2px solid;
    border-radius: 10px;
    font-size: small;
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h1{
    font-size: 30px;
    text-align: center;
}

.input-box{
    position:relative
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    font-size: 16px;
    border-radius: 20px;
}

.input-button input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-size: 16px;
    background-color: var(--cor-primaria);
    border: solid 2px;
}

.input-button input:hover{
    color: black;
    background-color: transparent;
}

.botao{
    width: 100%;
    height: 30px;
    border: radius 10px;
    background-color: whitesmoke;
}

.botao:hover{
    background-color: red;
    transform: scale(1.2);
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4)
}